/* Styles Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:active,
a:focus {
  outline: none;
}
a,
a:hover,
a:visited {
  text-decoration: none;
}
a,
button {
  -webkit-tap-highlight-color: transparent;
}
footer,
header,
main,
nav,
section {
  display: block;
}
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
html,
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}

/* General Styles */
:root {
  --fontFamily: "Poppins", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  --fontFamilySecondary: "Montserrat", Helvetica, "Trebuchet MS", Tahoma,
    sans-serif;
  --black: #202020;
  --cadetBlue: #afb8c2;
  --emperor: #545454;
  --gullGray: #97a2af;
  --mineShaft: #343434;
  --nepal: #95a2be;
  --viridianGreen: #5b8876;
  --white: #fff;
  --transition: 0.3s ease-in-out;
}
body {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--fontFamily);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--emperor);
  background-color: var(--white);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.bg-light {
  background-color: #f5f5f5;
}
body.bg-dark {
  background-color: #4a4a4a;
}
.bg-light .wrapper {
  background: url(../images/body-bg-light.svg), #f5f5f5;
}
.bg-dark .wrapper {
  background: url(../images/body-bg.svg), #4a4a4a;
}
.container {
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.section-title {
  display: none;
}
.section-subtitle {
  font-family: var(--fontFamilySecondary);
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 60px;
}
.bg-dark .section-subtitle {
  color: var(--white);
}

/* Header styles */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  z-index: 10;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  z-index: 9;
}
.header._active::after {
  opacity: 1;
}
.header__container {
  display: flex;
  align-items: center;
}
.header .logo {
  position: relative;
  flex-basis: 99px;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 10;
}
.header__menus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  background-color: var(--white);
  padding: 100px 0 15px;
  transform: translateY(-200%);
  transition: opacity var(--transition), transform var(--transition);
  z-index: 9;
}
.header__menus._active {
  opacity: 1;
  transform: translateY(0);
}
.header .menu {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(33, 33, 33, 0.09);
  margin-bottom: 20px;
}
.header .menu__link {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  padding: 12px 20px;
}
.header .menu__link.active {
  color: var(--viridianGreen);
  background: linear-gradient(
      0deg,
      rgba(149, 162, 190, 0.13),
      rgba(149, 162, 190, 0.13)
    ),
    #ffffff;
}
.header .season {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px 5px 7px;
  border: 1px solid var(--viridianGreen);
  border-radius: 24px;
  margin-right: 27px;
  margin-left: auto;
  z-index: 10;
}
.season__status {
  width: 19px;
  height: 19px;
  background: var(--viridianGreen);
  border-radius: 50%;
}
.season__icon {
  flex-basis: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 8px;
}
.header .lang {
  display: inline-flex;
  flex-direction: column;
  margin: 0 20px;
  overflow: hidden;
}
.header .lang__dropdown {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--black);
}
.header .lang__dropdown svg {
  stroke: var(--black);
  margin-left: 9px;
  transition: transform var(--transition);
}
.header .lang._active .lang__dropdown svg {
  transform: rotate(180deg);
}
.header .lang__menu {
  max-height: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity var(--transition), max-height var(--transition);
}
.header .lang._active .lang__menu {
  max-height: 500px;
  opacity: 1;
}
.header .lang__menu .link {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 11px;
}
.header .burger {
  position: relative;
  flex-basis: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 24px;
  background-color: transparent;
  padding: 6px 3px;
  z-index: 10;
}
.header .burger__line {
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0;
  background-color: var(--black);
  transition: all var(--transition);
}
.header .burger__line.first {
  top: 6px;
}
.header .burger__line.second {
  top: calc(50% - 1px);
}
.header .burger__line.third {
  bottom: 6px;
}
.header .burger._active .burger__line.first {
  top: 11px;
  transform: rotate(45deg);
}
.header .burger._active .burger__line.second {
  transform: scale(0);
}
.header .burger._active .burger__line.third {
  bottom: 11px;
  transform: rotate(-45deg);
}

/* Promo styles */
.promo {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 100px;
}
.promo__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 90% top;
  z-index: 4;
}
.promo__container {
  position: relative;
  z-index: 5;
}
.promo__wrapper {
  max-width: 159px;
  margin: 0 auto;
}
.promo__title {
  display: none;
  font-family: var(--fontFamilySecondary);
  font-weight: 800;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--black);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.promo__title.mobile {
  display: block;
  position: absolute;
  top: 100px;
  left: 20px;
  font-size: 22px;
  line-height: 23px;
  z-index: 5;
}
.promo__info {
  display: none;
  color: var(--black);
}
.promo__info.mobile {
  display: block;
  position: absolute;
  top: 160px;
  left: 20px;
  max-width: 180px;
  font-size: 14px;
  line-height: 20px;
  z-index: 5;
}
.promo__stores .stores__link {
  display: block;
}
.promo__stores .stores__link + .stores__link {
  margin-top: 13px;
}
.promo__more {
  display: block;
  position: absolute;
  bottom: 22px;
  left: calc(50% - 10px);
  max-width: 19px;
  z-index: 5;
}

/* Video styles */
.video {
  text-align: center;
  margin-top: 50px;
}
.video__title {
  margin-bottom: 50px;
}
.video__link {
  position: relative;
  padding-bottom: 52%;
}
.video__link iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Mockup sections styles */
.mockup {
  margin-top: 100px;
}
.mockup.last {
  margin-bottom: 100px;
}
.mockup__container {
  padding: 0 30px;
}
.mockup__info {
  text-align: center;
}
.mockup__img {
  max-width: 270px;
  margin: 0 auto;
}
.mockup__img.watch {
  max-width: 243px;
}
.mockup__img .image {
  filter: drop-shadow(0px 0px 15px rgba(36, 47, 94, 0.15));
}
.mockup__img.desktop {
  display: none;
}
.mockup__img.mobile {
  position: relative;
}
.mockup__img.mobile.trail {
  margin-top: 192px;
}
.mockup__img.mobile .trail {
  max-width: 263px;
  position: absolute;
  top: -122px;
  left: calc(50% - 131px);
  z-index: -1;
}
.mockup__img.mobile.resort {
  margin-top: 193px;
}
.mockup__img.mobile .resort {
  max-width: 263px;
  position: absolute;
  top: -123px;
  right: calc(50% - 131px);
  z-index: -1;
}
.mockup.routes .mockup__img,
.mockup.resorts .mockup__img {
  max-width: 262px;
}
.mockup.routes .image,
.mockup.resorts .image {
  max-width: 220px;
}
.mockup .text {
  margin-top: 50px;
}
.bg-dark .mockup .text {
  color: #a9a9a9;
}

/* Mtb section styles */
.mtb__container {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 37px;
}
.mtb__subtitle {
  margin-bottom: 57px;
}
.mtb__info {
  max-width: 318px;
  margin: 0 auto 34px;
}
.mtb__link {
  display: inline-block;
  text-align: center;
  color: var(--white);
  padding: 9px 55px;
  background: var(--black);
  border-radius: 5px;
}

/* Footer styles */
.footer {
  background-color: var(--mineShaft);
  padding: 37px 0 69px;
}
.footer .desktop {
  display: none;
}
.footer .logo.mobile {
  text-align: center;
}
.footer .logo.mobile svg {
  max-width: 149px;
}
.footer .copyright.mobile {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: var(--viridianGreen);
  margin-top: 14px;
}
.footer .menu-wrapper {
  max-width: 210px;
  margin-top: 65px;
  margin-right: auto;
  margin-left: auto;
}
.footer .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .menu-item + .menu-item {
  margin-top: 60px;
}
.footer .menu-item__subtitle {
  font-size: 22px;
  font-weight: 900;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 24px;
}
.footer .menu-item__link {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}
.footer .menu-item__link.active {
  position: relative;
  color: var(--viridianGreen);
  padding-bottom: 9px;
}
.footer .menu-item__link.active::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--viridianGreen);
  border-radius: 20px;
}
.footer .menu-item__link + .menu-item__link {
  margin-top: 15px;
}
.footer__social {
  text-align: center;
  padding-top: 58px;
  border-top: 1px solid var(--emperor);
  margin-top: 60px;
}
.footer .stores.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .stores__link {
  max-width: 159px;
}
.footer .stores__link + .stores__link {
  margin-top: 13px;
}
.footer__social .links {
  max-width: 159px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--viridianGreen);
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: all var(--transition);
  z-index: 3;
}
.back-to-top._shown {
  opacity: 1;
  visibility: visible;
}
.back-to-top svg {
  stroke: var(--white);
  transform: rotate(180deg);
}

/* Media querries */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
    line-height: 30px;
  }
  .section-title {
    display: block;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--gullGray);
    margin-bottom: 2px;
  }
  .section-subtitle {
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.07em;
    margin-bottom: 26px;
  }
  .header {
    padding-top: 18px;
  }
  .header .container {
    overflow: visible;
  }
  .header__container {
    position: relative;
    overflow: visible;
  }
  .header .logo {
    flex-basis: 160px;
  }
  .header .season {
    padding: 6px 10px 6px 6px;
    border-width: 2px;
    border-radius: 34px;
    margin-right: 90px;
    z-index: 10;
  }
  .season__icon {
    flex-basis: 20px;
    margin-left: 12px;
  }
  .season__status {
    width: 27px;
    height: 27px;
  }
  .header__menus {
    position: static;
    width: auto;
    height: auto;
    opacity: 1;
    background-color: transparent;
    padding: 0;
    margin-left: 41px;
    transform: unset;
  }
  .header .menu {
    flex-direction: row;
    align-items: center;
    padding-right: 42px;
    border-right: 1px solid #dadada;
    border-bottom: none;
    margin-right: 42px;
    margin-bottom: 0;
  }
  .header .menu__link {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: var(--black);
    padding: 0;
  }
  .header .menu__link.active {
    position: relative;
    background: none;
    color: #5b8876;
    padding: 0 12px;
  }
  .header .menu__link.active::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -12px;
    left: 0;
    background-color: var(--cadetBlue);
    border-radius: 20px;
  }
  .header .menu__link + .menu__link {
    margin-left: 53px;
  }
  .header .lang {
    position: absolute;
    top: 19px;
    right: 0;
    margin: 0;
    z-index: 10;
  }
  .header .lang__dropdown {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
    cursor: pointer;
  }
  .header .lang__dropdown::after {
    top: 9px;
    right: -21px;
  }
  .header .lang__menu .link {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
  }
  .header .burger {
    display: none;
  }
  .promo {
    align-items: flex-start;
    padding-bottom: 117px;
  }
  .promo__wrapper {
    max-width: 570px;
    margin-right: auto;
    margin-left: 0;
  }
  .promo__title {
    display: block;
    font-size: 52px;
    line-height: 63px;
    margin-bottom: 26px;
  }
  .promo__title.mobile {
    display: none;
  }
  .promo__info {
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 79px;
  }
  .promo__info.mobile {
    display: none;
  }
  .promo__stores {
    display: flex;
    margin-bottom: 49px;
  }
  .promo__stores .stores__link + .stores__link {
    margin-top: 0;
    margin-left: 29px;
  }
  .promo__more {
    max-width: 45px;
    position: absolute;
    bottom: 32px;
    left: calc(50% - 22px);
    margin-top: 0;
  }
  .video {
    margin-top: 82px;
  }
  .video__title {
    max-width: 837px;
    margin: 0 auto 95px;
  }
  .mockup.first {
    margin-top: 226px;
  }
  .mockup.mobile {
    display: none;
  }
  .mockup.routes {
    margin-top: 284px;
  }
  .mockup.resorts {
    margin-top: 288px;
  }
  .mockup--reversed .mockup__container {
    flex-direction: row-reverse;
  }
  .mockup__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .mockup__info {
    flex-basis: 655px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
    margin-right: 30px;
  }
  .mockup--reversed .mockup__info {
    margin-right: 0;
    margin-left: 30px;
  }
  .mockup__img {
    max-width: unset;
    margin: 0;
  }
  .mockup.routes .mockup__img,
  .mockup.resorts .mockup__img {
    max-width: 100%;
  }
  .mockup.routes .image,
  .mockup.resorts .image {
    max-width: 275px;
  }
  .mockup__img.desktop {
    display: block;
  }
  .mockup__img.mobile {
    display: none;
  }
  .mockup__info {
    flex-basis: 570px;
  }
  .mockup__img.bordered {
    position: relative;
    max-width: unset;
  }
  .mockup__img .image {
    position: relative;
    max-width: 275px;
    z-index: 2;
  }
  .mockup__img.bordered .image {
    margin-right: 100px;
  }
  .mockup__img .map {
    max-width: 244px;
    position: absolute;
    top: -53px;
    right: 0;
    z-index: 1;
  }
  .mockup__img .trail {
    position: absolute;
    top: -74px;
    left: 0;
    z-index: 1;
  }
  .mockup__img .resort {
    position: absolute;
    top: -78px;
    right: 0;
    z-index: 1;
  }
  .mockup.resorts .image {
    margin-right: 0;
    margin-left: 100px;
  }
  .mockup.recording .image {
    max-width: 364px;
  }
  .mockup.last .mockup__img {
    max-width: 325px;
    margin-right: 95px;
  }
  .mockup.resorts .mockup__info {
    margin-top: -82px;
  }
  .mtb {
    display: grid;
    grid-template-areas: "mtb";
    align-items: center;
  }
  .mtb__img {
    grid-area: mtb;
  }
  .mtb__container {
    grid-area: mtb;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
  }
  .mtb__title {
    color: var(--viridianGreen);
  }
  .mtb__subtitle {
    max-width: 655px;
  }
  .mtb__info {
    max-width: 530px;
    margin: 0 0 47px;
  }
  .mtb__link {
    padding: 15px 66px;
    border-radius: 11px;
  }
  .footer {
    padding: 66px 0 48px;
  }
  .footer .desktop {
    display: block;
  }
  .footer .mobile {
    display: none !important;
  }
  .footer .menu-wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: 199px 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 80px;
    margin: 0;
  }
  .footer .menu-item {
    align-items: flex-start;
  }
  .footer .menu-item + .menu-item {
    margin-top: 0;
  }
  .footer .stores.desktop {
    display: flex;
    flex-direction: column;
  }
  .footer .stores__link {
    max-width: 100%;
  }
  .footer .stores__link + .stores__link {
    margin-top: 16px;
  }
  .footer .menu-item__subtitle {
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 45px;
  }
  .footer .menu-item__link {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .footer .menu-item__link + .menu-item__link {
    margin-top: 20px;
  }
  .footer__social {
    display: grid;
    grid-template-columns: 199px 145px 1fr;
    gap: 80px;
    align-items: center;
    text-align: left;
    padding-top: 38px;
    margin-top: 300px;
  }
  .footer__social .links {
    max-width: 100%;
    width: 100%;
    margin: 0 auto 0 0;
  }
  .footer .copyright {
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--viridianGreen);
    justify-self: flex-end;
  }
  .back-to-top {
    right: 13px;
    bottom: 13px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 100%;
    padding: 0 55px;
  }
  .promo__wrapper {
    max-width: 605px;
  }
  .promo__img img {
    object-position: right 50%;
  }
  .promo__title {
    font-size: 34px;
    line-height: 41px;
  }
  .promo__stores {
    margin-bottom: 0;
  }
  .video__link {
    max-width: 1083px;
    height: 561px;
    padding-bottom: 0;
    margin: 0 auto;
  }
  .mockup.last {
    margin-top: 200px;
  }
  .mockup__container {
    max-width: 1440px;
  }
  .mockup.first .mockup__container {
    padding: 0 94px;
  }
  .mockup.lifts .mockup__container {
    padding: 0 130px;
  }
  .mockup.friends .mockup__container {
    padding: 0 140px;
  }
  .mockup.routes .mockup__container {
    padding: 0 110px;
  }
  .mockup.resorts .mockup__container {
    padding: 0 116px;
  }
  .mockup.last .mockup__container {
    padding: 0 110px;
  }
  .mockup__info {
    flex-basis: 600px;
  }
  .mockup.first .mockup__info {
    margin-top: 90px;
  }
  .mockup.lifts .mockup__info {
    margin-top: 44px;
  }
  .mockup.friends .mockup__info {
    margin-top: 34px;
  }
  .mockup.routes .mockup__info {
    margin-top: -100px;
  }
  .mockup.recording .mockup__info {
    margin-top: 84px;
  }
  .mockup.resorts .mockup__info {
    margin-top: -110px;
  }
  .mockup.last .mockup__info {
    margin-top: 80px;
  }
  .mockup__img .image {
    max-width: 375px;
  }
  .mockup.routes .image,
  .mockup.resorts .image {
    max-width: 375px;
  }
  .mockup__img .image.events {
    max-width: 367px;
  }
  .mockup__img .image.wide {
    max-width: 403px;
  }
  .mockup__img .image.narrow {
    max-width: 359px;
  }
  .mockup__img .map {
    max-width: 344px;
    top: -104px;
    right: 0;
  }
  .mockup__img .trail {
    max-width: 398px;
    top: -134px;
    left: 0;
  }
  .mockup__img .resort {
    max-width: 430px;
    top: -136px;
    left: 0;
  }
  .mockup__img.bordered .image {
    margin-right: 222px;
  }
  .mockup.routes .image {
    margin-right: 0;
    margin-left: 110px;
  }
  .mockup.resorts .image {
    margin-right: 0;
    margin-left: 125px;
  }
  .mockup.recording .image {
    max-width: 637px;
  }
  .mtb__container {
    max-width: 1330px;
  }
  .footer .menu-wrapper {
    grid-template-columns: 266px 145px 210px 359px;
    gap: 116px;
    margin: 0;
  }
  .footer__social {
    grid-template-columns: 266px 145px 1fr;
    gap: 116px;
  }
}
