/* Styles Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:active,
a:focus {
  outline: none;
}
a,
a:hover,
a:visited {
  text-decoration: none;
}
a,
button {
  -webkit-tap-highlight-color: transparent;
}
footer,
header,
main,
nav,
section {
  display: block;
}
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
html,
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}

/* General Styles */
:root {
  --fontFamily: "Poppins", Helvetica, "Trebuchet MS", Tahoma, sans-serif;
  --fontFamilySecondary: "Montserrat", Helvetica, "Trebuchet MS", Tahoma,
    sans-serif;
  --white: #fff;
  --black: #202020;
  --mineShaft: #343434;
  --emperor: #545454;
  --gullGray: #97a2af;
  --cadetBlue: #afb8c2;
  --emperor: #504f4f;
  --viridianGreen: #5b8876;
  --transition: 0.3s ease-in-out;
}
body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--fontFamily);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--emperor);
  background-color: var(--white);
}
.container {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  overflow: hidden;
}
.section-title {
  display: none;
}
.section-subtitle {
  font-family: var(--fontFamilySecondary);
  font-size: 27px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 44px;
}
.image-title {
  font-family: var(--fontFamilySecondary);
  font-size: 27px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: 0px 3.21429px 5.35714px rgba(0, 0, 0, 0.25);
}
.picture {
  display: grid;
  grid-template-areas: "bg";
}
.picture picture {
  grid-area: bg;
}
.picture__container {
  grid-area: bg;
}

/* Picture sections styles */
.picture.rock .picture__title {
  margin-top: 98px;
}
.picture.peaks .picture__title {
  margin-top: 42px;
}
.picture.resorts .picture__title {
  margin-top: 179px;
}
.picture.watch .picture__title {
  margin-top: 49px;
}

/* Header styles */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 44px;
  z-index: 10;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  position: relative;
  flex-basis: 99px;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 10;
}
.header__menus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  background-color: var(--white);
  padding: 100px 0 15px;
  transform: translateY(-200%);
  transition: opacity var(--transition), transform var(--transition);
  z-index: 9;
}
.header__menus._active {
  opacity: 1;
  transform: translateY(0);
}
.header .menu {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(33, 33, 33, 0.09);
  margin-bottom: 20px;
}
.header .menu__link {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  padding: 12px 20px;
}
.header .menu__link.active {
  color: #95a2be;
  background: linear-gradient(
      0deg,
      rgba(149, 162, 190, 0.13),
      rgba(149, 162, 190, 0.13)
    ),
    #ffffff;
}
.header .season {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(149, 162, 190, 0.08);
  padding: 5px 9px 6px 6px;
  border: 1px solid rgba(149, 162, 190, 0.43);
  border-radius: 11px;
  margin-right: 27px;
  margin-left: auto;
  z-index: 10;
}
.header .season__label {
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 3px;
}
.season__status {
  width: 12px;
  height: 20px;
  background: #95a2be;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  margin-left: 7px;
}
.header .lang {
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(149, 162, 190, 0.08);
  padding: 14px 36px 12px 12px;
  border: 1px solid rgba(149, 162, 190, 0.43);
  border-radius: 16px;
  margin: 0 20px;
  overflow: hidden;
}
.header .lang__dropdown {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--black);
}
.header .lang__dropdown::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -25px;
  width: 15px;
  height: 8px;
  background-image: url(../images/icons/shevron.svg);
  transition: transform var(--transition);
}
.header .lang._active .lang__dropdown::after {
  transform: rotate(180deg);
}
.header .lang__menu {
  max-height: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity var(--transition), max-height var(--transition);
}
.header .lang._active .lang__menu {
  max-height: 500px;
  opacity: 1;
}
.header .lang__menu .link {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 11px;
}
.header .burger {
  position: relative;
  flex-basis: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 24px;
  background-color: transparent;
  padding: 6px 3px;
  z-index: 10;
}
.header .burger__line {
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0;
  background-color: var(--black);
  transition: all var(--transition);
}
.header .burger__line.first {
  top: 6px;
}
.header .burger__line.second {
  top: calc(50% - 1px);
}
.header .burger__line.third {
  bottom: 6px;
}
.header .burger._active .burger__line.first {
  top: 11px;
  transform: rotate(45deg);
}
.header .burger._active .burger__line.second {
  transform: scale(0);
}
.header .burger._active .burger__line.third {
  bottom: 11px;
  transform: rotate(-45deg);
}

/* Promo styles */
.promo {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 32px;
}
.promo__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
  z-index: 1;
}
.promo__container {
  position: relative;
  z-index: 2;
}
.promo__wrapper {
  max-width: 158px;
  margin: 0 auto;
}
.promo__title {
  display: none;
}
.promo__info {
  display: none;
}
.promo__stores .stores__link {
  display: block;
}
.promo__stores .stores__link + .stores__link {
  margin-top: 13px;
}
.promo__more {
  display: block;
  max-width: 113px;
  margin-top: 49px;
  z-index: 2;
}

/* Mockup sections styles */
.mockup {
  padding: 80px 10px 0;
}
.mockup.last {
  padding-bottom: 47px;
}
.mockup--last {
  padding-bottom: 27px;
}
.mockup__info {
  text-align: center;
}
.mockup__img {
  max-width: 220px;
  margin: auto;
}
.mockup.last .mockup__img {
  max-width: 303px;
}
.mockup__img.desktop {
  display: none;
}
.mockup .text {
  margin-top: 35px;
}

/* Mtb section styles */
.mtb__container {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 37px;
}
.mtb__subtitle {
  margin-bottom: 20px;
}
.mtb__info {
  max-width: 318px;
  margin: 0 auto 34px;
}
.mtb__link {
  display: inline-block;
  text-align: center;
  color: var(--white);
  padding: 9px 55px;
  background: var(--black);
  border-radius: 5px;
}

/* Footer styles */
.footer {
  background-color: var(--mineShaft);
  padding: 37px 0 69px;
}
.footer .desktop {
  display: none;
}
.footer .logo.mobile {
  text-align: center;
}
.footer .logo.mobile img {
  max-width: 149px;
}
.footer .copyright.mobile {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: var(--gullGray);
  margin-top: 14px;
}
.footer .menu-wrapper {
  max-width: 210px;
  margin-top: 65px;
  margin-right: auto;
  margin-left: auto;
}
.footer .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .menu-item + .menu-item {
  margin-top: 60px;
}
.footer .menu-item__subtitle {
  font-size: 22px;
  font-weight: 900;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 24px;
}
.footer .menu-item__link {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}
.footer .menu-item__link.active {
  position: relative;
  color: var(--cadetBlue);
  padding-bottom: 9px;
}
.footer .menu-item__link.active::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--cadetBlue);
  border-radius: 20px;
}
.footer .menu-item__link + .menu-item__link {
  margin-top: 15px;
}
.footer__social {
  text-align: center;
  padding-top: 58px;
  border-top: 1px solid var(--emperor);
  margin-top: 60px;
}
.footer .stores.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .stores__link {
  max-width: 159px;
}
.footer .stores__link + .stores__link {
  margin-top: 13px;
}
.footer__social .links {
  max-width: 159px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
}

/* Media querries */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
    line-height: 30px;
  }
  .section-title {
    display: block;
    font-size: 25px;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--gullGray);
    margin-bottom: 3px;
  }
  .section-subtitle {
    font-size: 52px;
    line-height: 63px;
    letter-spacing: 0.07em;
    margin-bottom: 26px;
  }
  .image-title {
    font-size: 90px;
    line-height: 110px;
    letter-spacing: 0.07em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .header {
    padding-top: 29px;
  }
  .header__container {
    overflow: visible;
  }
  .header .logo {
    flex-basis: 160px;
  }
  .header__menus {
    position: static;
    width: auto;
    height: auto;
    opacity: 1;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
    transform: translateY(0);
  }
  .header .menu {
    flex-direction: row;
    align-items: center;
    padding-right: 42px;
    border-right: 1px solid #dadada;
    border-bottom: none;
    margin-right: 42px;
    margin-bottom: 0;
  }
  .header .menu__link {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: var(--black);
    padding: 0;
  }
  .header .menu__link.active {
    position: relative;
    background: none;
    color: var(--cadetBlue);
    padding: 0 12px;
  }
  .header .menu__link.active::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -12px;
    left: 0;
    background-color: var(--cadetBlue);
    border-radius: 20px;
  }
  .header .menu__link + .menu__link {
    margin-left: 33px;
  }
  .header .season {
    padding: 8px 12px 12px 10px;
    border-radius: 17px;
    margin-right: 90px;
    margin-left: 0;
  }
  .header .season__label {
    font-size: 17px;
    letter-spacing: 0.05em;
  }
  .season__status {
    width: 17px;
    height: 28px;
    border-radius: 14px;
    margin-left: 9px;
  }
  .header .lang {
    position: absolute;
    top: -12px;
    right: -193px;
    padding: 12px 34px 11px 12px;
    border-radius: 17px;
    margin-right: 0;
    margin-left: 20px;
    cursor: pointer;
    z-index: 10;
  }
  .header .lang__dropdown {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
  }
  .header .lang__dropdown::after {
    top: 9px;
    right: -21px;
  }
  .header .lang__menu .link {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
  }
  .header .burger {
    display: none;
  }
  .promo {
    align-items: flex-start;
    padding-bottom: 117px;
  }
  .promo__wrapper {
    max-width: 570px;
    margin-right: auto;
    margin-left: 0;
  }
  .promo__title {
    display: block;
    font-family: var(--fontFamilySecondary);
    font-weight: 800;
    font-size: 52px;
    line-height: 63px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 26px;
  }
  .promo__info {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 61px;
  }
  .promo__stores {
    display: flex;
    margin-bottom: 49px;
  }
  .promo__stores .stores__link + .stores__link {
    margin-top: 0;
    margin-left: 29px;
  }
  .promo__more {
    max-width: 155px;
    position: absolute;
    bottom: 32px;
    left: calc(50% - 77px);
    margin-top: 0;
  }
  .mockup {
    padding: 75px 0 84px;
  }
  .mockup.last {
    padding: 108px 0 190px;
  }
  .mockup__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mockup__info {
    flex-basis: 655px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
  }
  .mockup__img {
    max-width: 427px;
    margin: 0;
  }
  .mockup.last .mockup__img {
    max-width: 514px;
  }
  .mockup__img.desktop {
    display: block;
  }
  .mockup__img.mobile {
    display: none;
  }
  .mtb {
    display: grid;
    grid-template-areas: "mtb";
    align-items: center;
  }
  .mtb__img {
    grid-area: mtb;
  }
  .mtb__container {
    grid-area: mtb;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
  }
  .mtb__title {
    color: var(--viridianGreen);
  }
  .mtb__subtitle {
    max-width: 655px;
  }
  .mtb__info {
    max-width: 530px;
    margin: 0 0 47px;
  }
  .mtb__link {
    padding: 15px 66px;
    border-radius: 11px;
  }
  .footer {
    padding: 66px 0 48px;
  }
  .footer .desktop {
    display: block;
  }
  .footer .mobile {
    display: none !important;
  }
  .footer .menu-wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: 199px 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 80px;
    margin: 0;
  }
  .footer .menu-item {
    align-items: flex-start;
  }
  .footer .menu-item + .menu-item {
    margin-top: 0;
  }
  .footer .stores.desktop {
    display: flex;
    flex-direction: column;
  }
  .footer .stores__link {
    max-width: 100%;
  }
  .footer .stores__link + .stores__link {
    margin-top: 16px;
  }
  .footer .menu-item__subtitle {
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 45px;
  }
  .footer .menu-item__link {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .footer .menu-item__link + .menu-item__link {
    margin-top: 20px;
  }
  .footer__social {
    display: grid;
    grid-template-columns: 199px 145px 1fr;
    gap: 80px;
    align-items: center;
    text-align: left;
    padding-top: 38px;
    margin-top: 300px;
  }
  .footer__social .links {
    max-width: 100%;
    width: 100%;
    margin: 0 auto 0 0;
  }
  .footer .copyright {
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--gullGray);
    justify-self: flex-end;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 55px;
  }
  .picture.rock .picture__title {
    margin-top: 210px;
  }
  .picture.peaks .picture__title {
    margin-top: 378px;
  }
  .picture.resorts .picture__title {
    margin-top: 448px;
  }
  .picture.watch .picture__title {
    margin-top: 265px;
  }
  .promo__stores {
    margin-bottom: 0;
  }
  .footer .menu-wrapper {
    grid-template-columns: 266px 145px 210px 359px;
    gap: 116px;
    margin: 0;
  }
  .footer__social {
    grid-template-columns: 266px 145px 1fr;
    gap: 116px;
  }
}
